services:
  app:
    build: .
    volumes:
      - ./databases:/app/databases:rw
      - ./data:/app/data:rw
    stdin_open: true
    tty: true
    command: poetry run python src/app.py

  server:
    build: .
    volumes:
      - ./databases:/app/databases:rw
    command: poetry run python src/server.py
