services:
  cli:
    build: .
    volumes:
      - ./databases:/app/databases:rw
    stdin_open: true
    tty: true

  server:
    build: .
    volumes:
      - ./databases:/app/databases:rw
    command: poetry run python src/server.py

  prometheus:
    image: prom/prometheus:latest
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./data/prometheus:/prometheus:rw
