name: "Docker"

on:
  push:
    branches:
      - main
      - docker

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"

    permissions:
      packages: write
      contents: read

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: Configure Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{github.repository_owner}}/${{github.repository}}
          tags: |
            type=sha
            type=raw,value=latest,enable=true

      - name: Authenticate
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and upload the image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          
  test:
      needs:
        - build
      name: "Test"
      runs-on: "ubuntu-latest"

      steps:
        - name: Authenticate
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Pull image
          run: |
            docker pull ghcr.io/${{github.repository_owner}}/${{github.repository}}:latest

        - name: Run image
          run: |
            docker run -d ghcr.io/${{github.repository_owner}}/${{github.repository}}:latest poetry run python src/cli.py