name: Python

on:
  pull_request:
    branches: 
    - "main"

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'poetry'
    - name: Install dependencies
      run: poetry install

    - name: Lint with flake8
      run: poetry run lint
    - name: Test with pytest
      run: poetry run pytest tests/
